<launch>
<!-- Launch Ximea camera node -->
    <node pkg="ximea_ros_cam" type="ximea_ros_cam_node" name="ximea_cam" output="screen">
        <param name="serial_no"       type="string" value="31703851" />
        <param name="cam_name"        type="string" value="ximea_cam" />
        <param name="calib_file"      type="string" value="package://camera/config/ost.yaml" />
        <param name="frame_id"        type="string" value="0"        />
        <param name="num_cams_in_bus" type="int"    value="2"        />
        <param name="bw_safetyratio"  type="double" value="1.0"      />
        <param name="publish_xi_image_info" type="bool" value="false"/>
        <param name="poll_time"       type="double" value="2.0"/>
        <param name="poll_time_frame" type="double" value="0.001"/>
        <rosparam command="load" file="$(find ximea_ros_cam)/config/example_cam_config.yaml" />
    </node>


<!-- Launch Aruco Detect Node -->
        <!-- namespace for camera input -->
    <arg name="camera" default="/ximea_cam"/>
    <arg name="image" default="image_raw"/>
    <arg name="transport" default="compressed"/>
    <arg name="fiducial_len" default="0.04"/>
    <arg name="dictionary" default="16"/>
    <arg name="do_pose_estimation" default="true"/>
    <!-- If vis_msgs set to true, pose estimation will be published with ROS standard vision_msgs -->
    <arg name="vis_msgs" default="true"/>
    <arg name="ignore_fiducials" default="" />
    <arg name="fiducial_len_override" default="" />
    <arg name="verbose" default="false"/>

    <node pkg="aruco_detect" name="aruco_detect"
        type="aruco_detect" output="screen" respawn="false">
        <param name="image_transport" value="$(arg transport)"/>
        <param name="publish_images" value="true" />
        <param name="fiducial_len" value="$(arg fiducial_len)"/>
        <param name="dictionary" value="$(arg dictionary)"/>
        <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
        <param name="vis_msgs" value="$(arg vis_msgs)"/>
        <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
        <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
        <param name="verbose" value="$(arg verbose)"/>
        <remap from="camera/compressed" 
            to="$(arg camera)/$(arg image)/$(arg transport)"/>
        <remap from="camera_info" to="$(arg camera)/camera_info"/>
    </node>    

<!-- Launch Debugging/checking camera is in focus node -->
    <node pkg="rqt_image_view" type = "rqt_image_view" name="display_camera"/>
    <!-- <node pkg = "rqt_graph" type = "rqt_graph" name="display_node_comms" /> -->

<!-- Launch script that determines the colour and ID of blocks -->
    <node pkg = "camera" type = "identify_block.py" name = "identify_blocks_node" output="screen"/>

</launch>