<launch>
<!-- Launch control logic node -->
    <node pkg = "control_logic_node" type = "control_logic.py" name="Control_Logic_Node" />
    
<!-- Launch forward kinematics node -->
    <node pkg = "forward_kinematics_node" type = "FK.py" name="Forward_Kinematics_Node" />

<!-- Launch inverse kinematics node -->
    <node pkg = "inverse_kinematics_node" type = "IK_node.py" name="Inverse_Kinematics_Node" />
    
<!-- Launch trajectory node -->
    <node pkg = "trajectory_node" type = "robot_planner.py" name="Trajecotry_Node" />

<!-- Launch servo node -->
    <node pkg = "servo_node" type = "servo_control.py" name="Servo_Control_node" />

<!-- Launch camera node -->
    <include file = "$(find camera_node)/launch/camera.launch" />

    <!-- <include file="$(find rospy_tutorials)/003_listener_with_user_data/listener_with_user_data.launch" /> -->

    <!-- <node pkg = "camera_node" type = "block_identification.py" name="Camera_Node" /> -->

<!-- Launch Debugging/checking camera is in focus node -->

<!-- Launch Debugging/checking rqt graph -->
    <node pkg = "rqt_graph" type = "rqt_graph" name="display_node_comms" />
</launch>